<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">

        <a class="nav-logo"><img src="assets/logo.png" alt="logo"></a>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
          <li class="nav-item d-flex align-items-center">
            <a href="creatines" class="nav-link">Listar</a>
          </li>
           <li class= "nav-item d-flex align-items-center">
            <a href="index.html" class="nav-link">Cadastrar</a>
           </li>
           <li class= "nav-item d-flex align-items-center">
            <a href="index.html" class="nav-link">Atualizar</a>
           </li>
      </ul>

    </div>
    </div>
</nav>
